extends site_base.pug

block title
  = ' | Blog'

block content
  section.hero
    .hero-body
      .container.has-text-centered
        h1.title.is-2 Blog Articles
  section
    .container
      .columns
        .column.is-8.is-offset-2
          .content
            ul(data-article-count="{{ blog_articles|length }}")
              for article in blog
                li
                  a(href="#{url_for("blog_article", year=article.created.year, month=article.created.month, day=article.created.day, title=article.title)}")
                    = article.title
