extends site_base.pug

block title
  = ' | '
  = meta.title

block content
  section.hero
    .hero-body
      .content.has-text-centered
        h1.title.is-2= meta.title
  section.section
    .container
      .columns
        .column.is-8.is-offset-2
          .content
            p= content|safe
            dl
              dt Date created:
              dd= meta.created
              if meta.modified
                dt Date modified:
                dd= meta.modified
            p
              | You are more than welcome to share your thoughts via
              a(href="mailto:hello@justus.pw")= ' email'
