extends site_base.pug

block content
  section.hero
    .hero-body
      .content.has-text-centered
        h1
          strong= entry.title
        h2 3 Steps to Reliable Software
  section.section
    .container
      .columns
        .column.is-third
          .content
            h3= entry.step1_title
            = entry.step1|pandoc
            h4=entry.step1_subheading
            ul
              for step in entry.step1_steps
                li= step
        .column.is-third
          .content
            h3= entry.step2_title
            = entry.step2|pandoc
            h4=entry.step2_subheading
            ul
              for step in entry.step2_steps
                li= step
        .column.is-third
          .content
            h3= entry.step3_title
            = entry.step3|pandoc
            h4=entry.step3_subheading
            ul
              for step in entry.step3_steps
                li= step
      include _cta.pug
