doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Justus Perlwitz')
    title Justus Perlwitz Software Development
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  body
    .container
      main.row
        .two-thirds.column
          h1 Justus Perlwitz
          h2 Software Developer
          h3 Services
          p I possess comprehensive skills and provide services in the following areas:
          ul
            li Backend development
            li Bulk data processing
            li System integration
          h3(id='projects') Projects
          h4 twogifs
          a(target='_blank', href='http://www.twogifs.com/')
            img(src='img/twogifs.png', alt='twogifs screenshot')
          p Addictive site that let's users vote for their favorite GIF:
          p
            a(target='_blank', href='http://www.twogifs.com/')='http://www.twogifs.com'
          h4 Binview
          a(target='_blank', href='https://github.com/justuswilhelm/binview')
            img(src='img/binview.png', alt='binview screenshot')
          p Binary file analysis toolset.
          p
            a(target='_blank', href='https://github.com/justuswilhelm/binview')='GitHub Repository'
          p
            a(target='_blank', href='https://pypi.python.org/pypi?:action=display&name=binview')='PyPI package'
        .one-third.column
          h3 Contact
          p='E-Mail: '
            a(href='mailto:hello@justus.pw')='hello@justus.pw'
          p Feel free to contact me and find out how I can help you achieve your goals.
          h3 GitHub
          iframe(src="http://githubbadge.appspot.com/justuswilhelm?a=0" style="border: 0;height: 142px;width: 100%;overflow: hidden;" frameBorder="0")
