doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Justus Perlwitz')
    title Justus Perlwitz Software Development
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  body
    .container
      main.row
        .two-thirds.column
          h1 Justus Perlwitz
          h2 Software Developer
          h3 Services
          p I possess comprehensive skills and provide services in the following areas:
          ul
            li Backend development
            li Bulk data processing
            li System integration
          h3(id='projects') Projects
          h4 twogifs
          a(target='_blank', href='http://www.twogifs.com/')
            img(src='img/twogifs.png', alt='twogifs screenshot')
          p Addictive site that let's users vote for their favorite GIF:
          p
            a(target='_blank', href='http://www.twogifs.com/')='http://www.twogifs.com'
          h4 Binview
          a(target='_blank', href='https://github.com/justuswilhelm/binview')
            img(src='img/binview.png', alt='binview screenshot')
          p Binary file analysis toolset.
          p
            a(target='_blank', href='https://github.com/justuswilhelm/binview')='GitHub Repository'
          p
            a(target='_blank', href='https://pypi.python.org/pypi?:action=display&name=binview')='PyPI package'
        .one-third.column
          h3 Contact
          p='E-Mail: '
            a(href='mailto:hello@justus.pw')='hello@justus.pw'
          p Feel free to contact me and find out how I can help you achieve your goals.
          h3 GitHub
          iframe(src="http://githubbadge.appspot.com/justuswilhelm?a=0" style="border: 0;height: 142px;width: 100%;overflow: hidden;" frameBorder="0")
          a(href='http://blog.justus.pw')
            h3
              span.unicorn(data-score="23") Blog (new!)
    script.
      var $uni = document.getElementsByClassName('unicorn')[0];
      var text = $uni.innerHTML;
      var color_steps = 360 / text.length;
      var newCont = "";
      var time = 0;
      var timestep = $uni.dataset.score;

      for (var text_index =0; text_index < text.length; text_index++) {
        newCont += "<span style='color:hsl(" + text_index * color_steps +
          ", 100%, 50%)'>" + text.charAt(text_index) + "</span>";
      }

      $uni.innerHTML = newCont; // Replace with new content
      var $ch = $uni.getElementsByTagName('span'); // character

      setInterval(function(){
        time -= timestep;
        time = time % 360;
        for (var ch_index = 0; ch_index < $ch.length; ch_index += 1) {
          current_ch = $ch[ch_index];
          var hue = (time + (color_steps * ch_index)) % 360;
          current_ch.style.color = "hsl(" + hue + ", 100%, 50%)";
        }
      }, 50);
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67453028-1', 'auto');
      ga('send', 'pageview');
